rng/mensural_Module.rnc

# **************************************************************

# NAME:     Music Encoding Initiative (MEI) schema component:
#           mensural_Module.rng
# 
# NOTICE:   Copyright (c) 2010 by the Music Encoding Initiative (MEI)
#           Council.
# 
#           Licensed under the Educational Community License, Version
#           2.0 (the "License"); you may not use this file except in
#           compliance with the License. You may obtain a copy of the
#           License at http://www.osedu.org/licenses/ECL-2.0.
# 
#           Unless required by applicable law or agreed to in writing,
#           software distributed under the License is distributed on
#           an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#           KIND, either express or implied. See the License for the
#           specific language governing permissions and limitations
#           under the License.
# 
#           This is a derivative work based on earlier versions of the
#           schema copyright (c) 2001-2006 Perry Roland and the Rector
#           and Visitors of the University of Virginia; licensed under
#           the Educational Community License version 1.0.
# 
# CONTACT:  contact@music-encoding.org 

namespace a = "http://relaxng.org/ns/compatibility/annotations/1.0"
default namespace mei = "http://www.music-encoding.org/ns/mei"
namespace sch = "http://purl.oclc.org/dsdl/schematron"
namespace tei = "http://www.tei-c.org/ns/1.0"
namespace xhtml = "http://www.w3.org/1999/xhtml"
namespace xlink = "http://www.w3.org/1999/xlink"

# Mensural module

# Declare data types

## Logical, that is, written, duration attribute values for
##       the mensural repertoire.
data.DURATION |=
  "maxima"
  | "longa"
  | "brevis"
  | "semibrevis"
  | "minima"
  | "semiminima"
  | "fusa"
  | "semifusa"
# Declare module attr classes
[
  a:documentation [
    xml:lang = "eng"
    "Analytical domain\x{a}" ~
    "      attributes"
  ]
]
att.ligature.anl &= att.common.anl
[ a:documentation [ xml:lang = "eng" "Gestural domain attributes" ] ]
att.ligature.ges &= empty
[ a:documentation [ xml:lang = "eng" "Logical domain attributes" ] ]
att.ligature.log &=
  [
    a:documentation [
      xml:lang = "eng"
      "provides an indication of the function\x{a}" ~
      "          of the ligature."
    ]
  ]
  attribute form { data.LIGATUREFORM }?
[ a:documentation [ xml:lang = "eng" "Visual domain attributes" ] ]
att.ligature.vis &= empty
[
  a:documentation [
    xml:lang = "eng"
    "Analytical domain\x{a}" ~
    "      attributes"
  ]
]
att.mensur.anl &= att.common.anl
[ a:documentation [ xml:lang = "eng" "Gestural domain attributes" ] ]
att.mensur.ges &= empty
[ a:documentation [ xml:lang = "eng" "Logical domain attributes" ] ]
att.mensur.log &=
  att.duration.ratio,
  [
    a:documentation [
      xml:lang = "eng"
      "describes the maxima-long\x{a}" ~
      "          relationship."
    ]
  ]
  attribute modusmaior { data.MODUSMAIOR }?,
  [
    a:documentation [
      xml:lang = "eng"
      "describes the long-breve\x{a}" ~
      "          relationship."
    ]
  ]
  attribute modusminor { data.MODUSMINOR }?,
  [
    a:documentation [
      xml:lang = "eng"
      "describes the semibreve-minim\x{a}" ~
      "          relationship."
    ]
  ]
  attribute prolatio { data.PROLATIO }?,
  [
    a:documentation [
      xml:lang = "eng"
      "describes the breve-semibreve\x{a}" ~
      "          relationship."
    ]
  ]
  attribute tempus { data.TEMPUS }?
[
  a:documentation [
    xml:lang = "eng"
    "Visual domain attributes. These attributes\x{a}" ~
    "      describe the physical appearance of the mensuration sign/time signature of\x{a}" ~
    "      mensural notation."
  ]
]
att.mensur.vis &=
  att.color,
  att.relativesize,
  att.slashcount,
  att.staffloc,
  [
    a:documentation [
      xml:lang = "eng"
      "specifies whether a dot is to be added\x{a}" ~
      "          to the base symbol."
    ]
  ]
  attribute dot { data.BOOLEAN }?,
  [
    a:documentation [
      xml:lang = "eng"
      "indicates whether the base symbol is\x{a}" ~
      "          written vertically or horizontally."
    ]
  ]
  attribute form { "horizontal" | "vertical" }?,
  [
    a:documentation [
      xml:lang = "eng"
      "describes the rotation or reflection of\x{a}" ~
      "          the base symbol."
    ]
  ]
  attribute orient { data.ORIENTATION }?,
  [
    a:documentation [
      xml:lang = "eng"
      "the base symbol in the mensuration\x{a}" ~
      "          sign/time signature of mensural notation."
    ]
  ]
  attribute sign { data.MENSURATIONSIGN }?
[
  a:documentation [
    xml:lang = "eng"
    "Used by staffdef and scoredef to provide\x{a}" ~
    "      default values for attributes in the logical domain related to\x{a}" ~
    "      mensuration"
  ]
]
att.mensuration.log &=
  att.mensur.log,
  [
    a:documentation [
      xml:lang = "eng"
      "determines if a dot is to be added to\x{a}" ~
      "          the base symbol."
    ]
  ]
  attribute mensur.dot { data.BOOLEAN }?,
  [
    a:documentation [
      xml:lang = "eng"
      "describes the rotation or reflection of\x{a}" ~
      "          the base symbol."
    ]
  ]
  attribute mensur.orient { data.ORIENTATION }?,
  [
    a:documentation [
      xml:lang = "eng"
      "the base symbol in the mensuration\x{a}" ~
      "          sign/time signature of mensural notation."
    ]
  ]
  attribute mensur.sign { data.MENSURATIONSIGN }?,
  [
    a:documentation [
      xml:lang = "eng"
      "indicates the number lines added to the\x{a}" ~
      "          mensuration sign. For example, one slash is added for what we now call\x{a}" ~
      "          'alla breve'."
    ]
  ]
  attribute mensur.slash { xsd:positiveInteger }?
[
  a:documentation [
    xml:lang = "eng"
    "Used by staffdef and scoredef to provide\x{a}" ~
    "      default values for attributes in the visual domain related to\x{a}" ~
    "      mensuration"
  ]
]
att.mensuration.vis &=
  [
    a:documentation [
      xml:lang = "eng"
      "indicates whether the base symbol is\x{a}" ~
      "          written vertically or horizontally."
    ]
  ]
  attribute mensur.form { "horizontal" | "vertical" }?,
  [
    a:documentation [
      xml:lang = "eng"
      "holds the staff location of the\x{a}" ~
      "          mensuration sign."
    ]
  ]
  attribute mensur.loc { xsd:positiveInteger }?,
  [
    a:documentation [
      xml:lang = "eng"
      "describes the relative size of the\x{a}" ~
      "          mensuration sign."
    ]
  ]
  attribute mensur.size { data.SIZE }?
[ a:documentation [ xml:lang = "eng" "Gestural domain attributes" ] ]
att.note.ges &= att.duration.ratio
[ a:documentation [ xml:lang = "eng" "Logical domain attributes" ] ]
att.note.log &=
  [
    a:documentation [
      xml:lang = "eng"
      "indicates this element's participation\x{a}" ~
      "          in a ligature."
    ]
  ]
  attribute lig { "recta" | "obliqua" }?
[
  a:documentation [
    xml:lang = "eng"
    "Analytical domain\x{a}" ~
    "      attributes"
  ]
]
att.proport.anl &= att.common.anl
[ a:documentation [ xml:lang = "eng" "Gestural domain attributes" ] ]
att.proport.ges &= empty
[
  a:documentation [
    xml:lang = "eng"
    "Logical domain attributes. These attributes\x{a}" ~
    "      describe augmentation or diminution of the normal value of the notes in\x{a}" ~
    "      mensural notation as a ratio."
  ]
]
att.proport.log &= att.duration.ratio
[ a:documentation [ xml:lang = "eng" "Visual domain attributes" ] ]
att.proport.vis &= empty
[ a:documentation [ xml:lang = "eng" "Gestural domain attributes" ] ]
att.rest.ges &= att.duration.ratio
[ a:documentation [ xml:lang = "eng" "Visual domain attributes" ] ]
att.rest.vis &=
  att.lineloc,
  [
    a:documentation [
      xml:lang = "eng"
      "states how many spaces are covered by\x{a}" ~
      "          the rest."
    ]
  ]
  attribute spaces { xsd:positiveInteger }?
[
  a:documentation [
    xml:lang = "eng"
    "Logical domain attributes for a score in the\x{a}" ~
    "      mensural repertoire. The values set in these attributes act as score-wide\x{a}" ~
    "      defaults for attributes that are not set in descendant elements. The\x{a}" ~
    "      tempus, prolatio, modusmaior, and modusminor attributes specify the\x{a}" ~
    "      relationship between the four principle levels of note value, i.e., the\x{a}" ~
    "      long, breve, semibreve and minim, in mensural notation. Modusminor\x{a}" ~
    "      describes the long-breve relationship, while tempus describes the\x{a}" ~
    "      breve-semibreve, and prolatio the semibreve-minim relationship,\x{a}" ~
    "      respectively. Modusmaior is for the maxima-long relationship. The\x{a}" ~
    "      proport.* attributes describe augmentation or diminution of the normal\x{a}" ~
    "      value of the notes in mensural notation. The num and numbase attributes\x{a}" ~
    "      provide default values."
  ]
]
att.scoredef.log &= att.mensuration.log
[
  a:documentation [
    xml:lang = "eng"
    "Visual domain attributes for scoredef in the\x{a}" ~
    "      mensural repertoire"
  ]
]
att.scoredef.vis &= att.mensuration.vis
[
  a:documentation [
    xml:lang = "eng"
    "Logical domain attributes for staffdef in\x{a}" ~
    "      the mensural repertoire"
  ]
]
att.staffdef.log &=
  att.mensuration.log,
  [
    a:documentation [
      xml:lang = "eng"
      "Together, proport.num and\x{a}" ~
      "          proport.numbase specify a proportional change as a ratio, e.g., 1:3.\x{a}" ~
      "          Proport.num is for the first value in the ratio."
    ]
  ]
  attribute proport.num { xsd:positiveInteger }?,
  [
    a:documentation [
      xml:lang = "eng"
      "Together, proport.num and\x{a}" ~
      "          proport.numbase specify a proportional change as a ratio, e.g., 1:3.\x{a}" ~
      "          Proport.numbase is for the second value in the\x{a}" ~
      "          ratio."
    ]
  ]
  attribute proport.numbase { xsd:positiveInteger }?
[
  a:documentation [
    xml:lang = "eng"
    "Visual domain attributes for the mensural\x{a}" ~
    "      repertoire"
  ]
]
att.staffdef.vis &= att.mensuration.vis
# Declare module model classes
model.eventLike &= (ligature | mensur | proport)*
[
  a:documentation [
    xml:lang = "eng"
    "groups notated events at the layer\x{a}" ~
    "      level."
  ]
]
model.layerPart &=
  (model.controleventLike | model.lyricsLike | model.noteModifierLike)*
[
  a:documentation [
    xml:lang = "eng"
    "groups elements that may appear more than\x{a}" ~
    "      once in the declaration of staff features."
  ]
]
model.staffdefPart &= (mensur | proport)*
# Declare module elements
content.mensur = empty
mensur =
  [
    a:documentation [
      xml:lang = "eng"
      "mensuration ― The <mensur>\x{a}" ~
      "        element is provided for the encoding of mensural notation. It collects\x{a}" ~
      "        information about the metrical relationship between a note value and the\x{a}" ~
      "        next smaller value; that is, either triple or duple. The slash attribute\x{a}" ~
      "        indicates the number lines added to the mensuration sign. For example,\x{a}" ~
      "        one slash is added for what we now call 'alla breve'."
    ]
  ]
  element mensur { attlist.mensur, content.mensur }
attlist.mensur =
  att.common,
  att.facsimile,
  att.mensur.log,
  att.mensur.vis,
  att.mensur.ges,
  att.mensur.anl
content.proport = empty
proport =
  [
    a:documentation [
      xml:lang = "eng"
      "proportion ― The\x{a}" ~
      "        <proportion> element is provided for the encoding of\x{a}" ~
      "        mensural notation. It allows the description of note durations as\x{a}" ~
      "        arithmetic ratios. While mensuration refers to the normal relationships\x{a}" ~
      "        between note durations, proportion affects the relations of the note\x{a}" ~
      "        durations to the tactus."
    ]
  ]
  element proport { attlist.proport, content.proport }
attlist.proport =
  att.common,
  att.facsimile,
  att.proport.log,
  att.proport.vis,
  att.proport.ges,
  att.proport.anl
content.ligature = model.layerPart*
ligature =
  [
    a:documentation [
      xml:lang = "eng"
      "ligature ― A mensural notation symbol that\x{a}" ~
      "        combines two or more notes into a single sign. The rhythmic meaning of\x{a}" ~
      "        the components of a ligature is typically contextual, not absolute;\x{a}" ~
      "        therefore, an interpretative duration may be encoded on each of the\x{a}" ~
      "        components using either the dur.ges attribute or the num and numbase\x{a}" ~
      "        attribute pair. The <ligature> element should *not* be\x{a}" ~
      "        used for brackets in modern notation that indicate notes that were part\x{a}" ~
      "        of a ligature in the original source."
    ]
  ]
  element ligature { attlist.ligature, content.ligature }
attlist.ligature =
  att.common,
  att.facsimile,
  att.ligature.log,
  att.ligature.vis,
  att.ligature.ges,
  att.ligature.anl
